<div class="container-fluid">
    <nav class="navbar fixed-top bg-light" style="background-color: #6768AA !important;">
        <div class="container-fluid">
            <a class="navbar-brand text-white">Sports Store</a>
            <cart-summary></cart-summary>
        </div>
    </nav>
</div>
<div class="container-fluid" style="padding-top: 60px;">
    <div class="row">
        <div class="col-2 p-2" style="margin-top: 4px;">
            <div class="d-grid gap-2">
                <button class="btn btn-block btn-outline-primary categoriesButton" (click)="changeCategory()">
                    All
                </button>
                <button *ngFor="let category of categories" [class.active]="category == selectedCategory" class="btn btn-outline-primary btn-block categoriesButton" (click)="changeCategory(category)">
                    {{category}}
                </button>
            </div>
        </div>
        <div class="col-10 p-2">
            <div class="row">
                <div class="card m-1" style="width: 18rem;" *ngFor="let product of products">
                    <div class="card-body">
                        <h5 class="card-title productTitle" style="display: inline-block;">{{product.name}}</h5>
                        <span class="badge rounded-pill float-end" style="background-color: #CCBD99 !important;">
                            {{ product.price | currency: "USD":"symbol":"2.2-2"}}
                        </span>
                       <p class="card-text">{{product.description}}</p>
                       <button class="btn btn-sm float-end text-white" style="background-color: #9E87CF !important;" (click)="addProductToCart(product)">
                           Add to cart
                       </button>
                   </div>
               </div>
            </div>
            <select class="form-control" style="width: auto; display:inline;margin-top: 10px;margin-right: 10px;" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
                <option value="3">3 per Page</option>
                <option value="4">4 per Page</option>
                <option value="6">6 per Page</option>
                <option value="8">8 per Page</option>
            </select>

            <div class="btn-group" style="margin-bottom: 5px;">
                <button *ngFor="let page of pageNumbers" 
                (click)="changePage(page)" 
                class="btn btn-outline categoriesButton"
                [class.active]="page == selectedPage">
                    {{page}}
                </button>
            </div>
        </div>
    </div>
</div>
